# Projekt
COMPOSE_PROJECT_NAME=wordpress-stack
TZ=Europe/Berlin

# Container-Images
WORDPRESS_IMAGE=wordpress:php8.3-apache
WORDPRESS_CUSTOM_IMAGE=wordpress-stack:local
MYSQL_IMAGE=mysql:8.0
REDIS_IMAGE=redis:8-alpine

# Container-Namen
WORDPRESS_CONTAINER_NAME=wordpress-app
MYSQL_CONTAINER_NAME=wordpress-db
REDIS_CONTAINER_NAME=wordpress-redis

# WordPress / Datenbank
MYSQL_DATABASE=wordpress
MYSQL_USER=wpadmin
MYSQL_PASSWORD=CHANGE_ME_DATABASE_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_MEMORY_LIMIT=256M
WORDPRESS_MAX_MEMORY_LIMIT=512M
WORDPRESS_DISABLE_WP_CRON=false

# MySQL-Tuning
MYSQL_INNODB_BUFFER_POOL_SIZE=256M
MYSQL_MAX_CONNECTIONS=100

# Redis
REDIS_DATABASE=0
REDIS_MAXMEMORY=256mb
REDIS_MAXMEMORY_POLICY=allkeys-lru

# Netzwerke und Volumes
BACKEND_NETWORK_NAME=wordpress-backend
TRAEFIK_DOCKER_NETWORK=proxy
# Setze dies in Produktion auf das exakte Subnetz des externen Traefik-Netzwerks.
# Beispiel ermitteln: docker network inspect proxy
TRUSTED_PROXY_SUBNET=172.16.0.0/12
WORDPRESS_VOLUME_NAME=wordpress-data
MYSQL_VOLUME_NAME=wordpress-mysql-data
REDIS_VOLUME_NAME=wordpress-redis-data

# Traefik
TRAEFIK_ENABLE=true
TRAEFIK_ENTRYPOINTS=websecure
TRAEFIK_RULE=Host(`wordpress.example.com`)
TRAEFIK_SERVICE_NAME=wordpress-app
TRAEFIK_SERVICE_PORT=80
TRAEFIK_TLS=true
TRAEFIK_CERTRESOLVER=cloudflare_resolver
TRAEFIK_MIDDLEWARES=security-headers@file
TRAEFIK_PASS_HOST_HEADER=true
